html,body{
    margin: 0;
    padding: o;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}

/*
 HELPER STYLES START
 ===================
 */

.grid{
    display: grid;
}
.grid-rows{
    grid-template-columns:22vw 1fr;
    grid-template-areas: "navbar main-doc";
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction:column;
}
.flex.align-start{
    align-items:flex-start;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex.justify-between{
    justify-content: space-between;

}

 /*
 HELPER STYLES START
 ===================
 */

 body{
    background:#FFFFFF;
    color: #505156 ;
    font-weight:400;
    
}
#main-doc{
    padding:1.8rem;
    grid-area:main-doc;
    

}
header{
    font-size:1.8rem ;
    color:#000;
}
p,ul{
    font-size:.96rem ;
}
p{
    margin:0.96rem 0;
}
li{
    margin:0.94rem 0 0 1.25rem;
}

#navbar{
    grid-area: navbar;

    width:22vw;

   border-right:3px #99A1A1 solid;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:5;
  display: block;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */

  

   
}
#navbar > header{
    background-color: #fff;
    padding:1.5rem 0 1.5rem 2rem;  
    /* position:fixed;
    top:0;
    width:22vw; */

}
.links{
  
    
}
.links>a{
    text-decoration: none;
    color: #505156 ;
    border-top: .5px #4D4E53 solid  ;
    font-size: 1rem;
    width: 22vw;
    padding:.7rem 0 .7rem 2rem;  
   
}

code{
    display: block;
    font-size:0.78rem;
    padding: .8rem;
    background-color: #F7F7F7;
    margin:1rem;
    border-radius: 4px;
}

