html,body{
    margin: 0;
    padding: o;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}

/*
 HELPER STYLES START
 ===================
 */

.grid{
    display: grid;
}
.grid-cols{
    grid-template-columns:22vw 1fr;
    grid-template-areas: "navbar main-doc";
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction:column;
}
.flex.align-start{
    align-items:flex-start;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}


 /*
 HELPER STYLES START
 ===================
 */

 body{
    background:#FFFFFF;
    color: #505156 ;
    font-weight:400;
    
}
#main-doc{
    padding:1.8rem;
    grid-area:main-doc;
    

}
header{
    font-size:1.8rem ;
    color:#000;
}
p,ul{
    font-size:.96rem ;
}
p{
    margin:1.2rem 0 1rem 1rem;
}
li{
    margin:0.94rem 0 0 1.25rem;
}

#navbar{
    grid-area: navbar;
    width:22vw;
    border-right:3px #99A1A1 solid;
    position: fixed; 
    height:100vh;
   
}
#navbar > header{
    
    background-color: #fff;
    padding:1.5rem .5rem 1.5rem 2rem;  
    position:fixed;
    width:21vw;
    height: 10%;
}
.links{
    height:90%;
    margin-top:82px; 
    overflow-y: auto;
    overflow-x: hidden;    
}
.overflowed{
    height:fit-content;
}
.links a{
    text-decoration: none;
    color: #505156 ;
    border-top: .5px #4D4E53 solid  ;
    font-size: 1rem;
    width: 22vw;
    padding:.7rem 0 .7rem 2rem;  
   
}

code{
    display: block;
    font-size:0.78rem;
    padding: .8rem;
    background-color: #F7F7F7;
    margin:1rem;
    border-radius: 4px;
}
nav a:last-child{
    padding-bottom:2rem;
}

/*
 SMALL SCREEN START
 ================
 */

@media(max-width:640px){

.grid-cols{
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "main-doc" ;   
}
.flex.align-start{
    align-items: center;
}
    body{
        font-size:12px;
    }
    #navbar{
        position:inherit;
        width:100vw;
        height:40vh;
        top:0;
        background-color:#fff ;
        z-index:2;
        border-right:0;
        overflow: hidden;
        border-bottom:2px #99A1A1 solid;
        
        
    }
    .links a{
        width: 100vw;
   
    }
    #navbar > header{
        
        width:100vw;
        padding:1rem;
        text-align: center;
        
    }
    #main-doc{
        
        margin-top:4vh;
        width:100vw;
        background-color: #FFFFFF;
    }
    .links{
        margin-top:60px;
    }
    nav a:last-child{
        padding-bottom:2.5rem;
    }
}


/*
 SMALL SCREEN START
 ================
 */
